<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Google Reader web app for Kindle">
    <meta name="keywords" content="Google, Reader, Kindle, feeds, subscriptions, rss, atom">

    <title>Kandy: Google Reader for Kindle</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <h1>Kandy</h1>

    <div>
        <div class="left">
            <p>Kandy is an unofficial <a href="www.google.com/reader">Google Reader</a> application for your Kindle.</p>
            <p>Click the logo below to log in.</p>
            <a href="/authentication">
                <img src="/images/log-in-with-google-logo.png" alt="log in with Google" />
            </a>
        </div>
    </div>

</body>
</html>
