<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <h1>Google Reader for Kindle</h1>

    <div>
        <div class="left">
            <p>This an unofficial Google Reader application for Kindle.</p>
            <p>Click <a href="/authentication">here</a> to allow access to your Google Reader information</p>
        </div>
    </div>

</body>
</html>
