<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="article" style="margin: 0px 30px">
        <h1 style="margin-bottom: -15px">
            <a id="link" href="<%= entry.url() %>"><%- entry.title() ? entry.title() : "<i>No title</i>" %> »</a>
        </h1>
        <h4>by <%= entry.author() %></h4>

        <div>
            <%- entry.content() %>
        </div>

    </div>
</body>

</html>
