<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><a href="http://www.codinghorror.com"><%= entry.title() %></a></h1>

    <div class="article">
        <%- entry.summary() %>
    </div>
</body>
</html>
