<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <article>
        <h1><a href="<%= entry.url() %>"><%- entry.title() %> »</a></h1>
        <h4>by <%= entry.author() %></h4>

        <div>
            <%- entry.summary() %>
        </div>
    </article>
</body>
</html>
