<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style type="text/css">
        #context-menu {
            padding: 5px 10px;
            display: none;
            position: fixed;
            left: 0px;
            width: 100%;
            z-index: 100;
            background: #aaa;
            border: 1px solid black; 
        }
    </style>

</head>
<body>
    <h1>Google Reader for Kindle</h1>

    <div style="width: 100%; border: 1px solid black">
        <ul class="itemlist">
<% 
        for (var i = 0; i < feeds.length; i += 1) { 
            var feed = feeds[i]; 
%>
            <li>
                <a class="feed-link" href="/view/feed?id=<%= encodeURIComponent(feed.id()) %>"
                        title="<%= feed.title() %>">
                    <%= feed.shortTitle() %>
                </a>
                <span class="small-info"><%= feed.count() %> new</span>
            </li>
<% 
        } 
%>
        </ul>
    </div>

    <div id="context-menu"></div>

</body>

<script src="/js/contextmenu.js" type="text/javascript"></script>

<script type="text/javascript">
    attachContextMenu(getLinks('feed-link'), 
        new ContextMenu('context-menu'));
</script>

</html>
