<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Google Reader for Kindle</h1>

    <div style="width: 100%; border: 1px solid black">
        <ul class="itemlist">
<% 
        for (var i = 0; i < feeds.length; i += 1) { 
            var feed = feeds[i]; 
            if (feed === undefined) { continue; }
            if (feed.title() == "") { 
                continue; 
            }
%>
            <li>
                <a href="/view/feed?id=<%= encodeURIComponent(feed.id()) %>"><%= feed.shortTitle() %></a>
                <span class="small-info"><%= feed.count() %> new</span>
            </li>
<% 
        } 
%>
        </ul>
    </div>

</body>
</html>
